<h1>Grab An OpenSource Release Feed</h1>
<p><%= @metadata.content %></p>
<p class="cust_feed">
	<h3>Master Feed</h3>
	<p><strong class="primary">Feed Requested By:</strong> admin</p>
	<p><strong class="secondary">Feed Description:</strong> This feed includes the following all tags all release types</p>
	<a href="http://feeds.feedburner.com/opensourcereleasefeed"><img src="http://feeds.feedburner.com/~fc/opensourcereleasefeed?bg=2C3033&amp;fg=ffffff&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>
	<%= link_to (image_tag "/images/icons/ico-google.png", :size => "61x17", :alt => "Add feed to Google", :class => 'rss-readers'), "http://fusion.google.com/add?feedurl=http://feeds.feedburner.com/opensourcereleasefeed", :title => 'Add feed to Google' %>
	<%= link_to (image_tag "/images/icons/ico-myy.png", :size => "84x17", :alt => "Add feed to Yahoo!", :class => 'rss-readers'), "http://add.my.yahoo.com/rss?url=http://feeds.feedburner.com/opensourcereleasefeed", :title => 'Add feed to Yahoo!' %>
</p>
<p class="cust_feed">
	<h3>Interviews Feed</h3>
	<p><strong class="primary">Feed Requested By:</strong> admin</p>
	<p><strong class="secondary">Feed Description:</strong> Be the first to know when we publish the latest in our interview series.</p>
	<a href="http://feeds2.feedburner.com/osrfinterviews"><img src="http://feeds2.feedburner.com/~fc/osrfinterviews?bg=333300&amp;fg=ffffff&amp;anim=0" height="26" width="88" style="border:0" alt="Subscribe to our interviews feed" /></a>
	<%= link_to (image_tag "/images/icons/ico-google.png", :size => "61x17", :alt => "Add feed to Google", :class => 'rss-readers'), "http://fusion.google.com/add?feedurl=http://feeds2.feedburner.com/osrfinterviews", :title => 'Add feed to Google' %>
	<%= link_to (image_tag "/images/icons/ico-myy.png", :size => "84x17", :alt => "Add feed to Yahoo!", :class => 'rss-readers'), "http://add.my.yahoo.com/rss?url=http://feeds2.feedburner.com/osrfinterviews", :title => 'Add feed to Yahoo!' %>
</p>
<p class="feed">
	<h3>Article Feed</h3>
	<p><strong class="primary">Feed Requested By:</strong> admin</p>
	<p><strong class="secondary">Feed Description:</strong> Be the first to know when we publish the latest articles.</p>
	<a href="http://feeds2.feedburner.com/osrfarticles"><img src="http://feeds2.feedburner.com/~fc/osrfarticles?bg=333300&amp;fg=ffffff&amp;anim=0" height="26" width="88" style="border:0" alt="Subscribe to our article feed" /></a>
	<%= link_to (image_tag "/images/icons/ico-google.png", :size => "61x17", :alt => "Add feed to Google", :class => 'rss-readers'), "http://fusion.google.com/add?feedurl=http://feeds2.feedburner.com/osrfarticles", :title => 'Add feed to Google' %>
	<%= link_to (image_tag "/images/icons/ico-myy.png", :size => "84x17", :alt => "Add feed to Yahoo!", :class => 'rss-readers'), "http://add.my.yahoo.com/rss?url=http://feeds2.feedburner.com/osrfarticles", :title => 'Add feed to Yahoo!' %>
</p>
<p class="feed">
	<h3>Java Feed</h3>
	<p><strong class="primary">Feed Requested By:</strong> admin</p>
	<p><strong class="secondary">Feed Description:</strong> This feed includes everything related to Java releases</p>
	<a href="http://feeds.feedburner.com/javaopensourcereleasefeed"><img src="http://feeds.feedburner.com/~fc/javaopensourcereleasefeed?bg=2C3033&amp;fg=ffffff&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>
	<%= link_to (image_tag "/images/icons/ico-google.png", :size => "61x17", :alt => "Add feed to Google", :class => 'rss-readers'), "http://fusion.google.com/add?feedurl=http://feeds.feedburner.com/javaopensourcereleasefeed", :title => 'Add feed to Google' %>
	<%= link_to (image_tag "/images/icons/ico-myy.png", :size => "84x17", :alt => "Add feed to Yahoo!", :class => 'rss-readers'), "http://add.my.yahoo.com/rss?url=http://feeds.feedburner.com/javaopensourcereleasefeed", :title => 'Add feed to Yahoo!' %>
</p>
<p class="feed">
	<h3>JavaScript Feed</h3>
	<p><strong class="primary">Feed Requested By:</strong> admin</p>
	<p><strong class="secondary">Feed Description:</strong> This feed includes everything related to JavaScript releases</p>
	<a href="http://feeds.feedburner.com/javascriptopensourcereleasefeed"><img src="http://feeds.feedburner.com/~fc/javascriptopensourcereleasefeed?bg=2C3033&amp;fg=FFFFFF&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>
	<%= link_to (image_tag "/images/icons/ico-google.png", :size => "61x17", :alt => "Add feed to Google", :class => 'rss-readers'), "http://fusion.google.com/add?feedurl=http://feeds.feedburner.com/javascriptopensourcereleasefeed", :title => 'Add feed to Google' %>
	<%= link_to (image_tag "/images/icons/ico-myy.png", :size => "84x17", :alt => "Add feed to Yahoo!", :class => 'rss-readers'), "http://add.my.yahoo.com/rss?url=http://feeds.feedburner.com/javascriptopensourcereleasefeed", :title => 'Add feed to Yahoo!' %>
</p>
<p class="feed">
	<h3>PHP Feed</h3>
	<p><strong class="primary">Feed Requested By:</strong> admin</p>
	<p><strong class="secondary">Feed Description:</strong> This feed includes everything related to PHP releases</p>
	<a href="http://feeds2.feedburner.com/phpopensourcereleasefeed"><img src="http://feeds2.feedburner.com/~fc/phpopensourcereleasefeed?bg=2C3033&amp;fg=FFFFFF&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>
	<%= link_to (image_tag "/images/icons/ico-google.png", :size => "61x17", :alt => "Add feed to Google", :class => 'rss-readers'), "http://fusion.google.com/add?feedurl=http://feeds2.feedburner.com/phpopensourcereleasefeed", :title => 'Add feed to Google' %>
	<%= link_to (image_tag "/images/icons/ico-myy.png", :size => "84x17", :alt => "Add feed to Yahoo!", :class => 'rss-readers'), "http://add.my.yahoo.com/rss?url=http://feeds2.feedburner.com/phpopensourcereleasefeed", :title => 'Add feed to Yahoo!' %>
</p>
<p class="feed">
	<h3>Apache Feed</h3>
	<p><strong class="primary">Feed Requested By:</strong> admin</p>
	<p><strong class="secondary">Feed Description:</strong> This feed includes everything related to Apache releases</p>
	<a href="http://feeds.feedburner.com/apacheopensourcereleasefeed"><img src="http://feeds.feedburner.com/~fc/apacheopensourcereleasefeed?bg=2C3033&amp;fg=ffffff&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>
	<%= link_to (image_tag "/images/icons/ico-google.png", :size => "61x17", :alt => "Add feed to Google", :class => 'rss-readers'), "http://fusion.google.com/add?feedurl=http://feeds.feedburner.com/apacheopensourcereleasefeed", :title => 'Add feed to Google' %>
	<%= link_to (image_tag "/images/icons/ico-myy.png", :size => "84x17", :alt => "Add feed to Yahoo!", :class => 'rss-readers'), "http://add.my.yahoo.com/rss?url=http://feeds.feedburner.com/apacheopensourcereleasefeed", :title => 'Add feed to Yahoo!' %>
</p>
<p class="feed">
	<h3>Server Feed</h3>
	<p><strong class="primary">Feed Requested By:</strong> admin</p>
	<p><strong class="secondary">Feed Description:</strong> This feed includes everything related to Server releases</p>
	<a href="http://feeds.feedburner.com/serveropensourcereleasefeed"><img src="http://feeds.feedburner.com/~fc/serveropensourcereleasefeed?bg=2C3033&amp;fg=FFFFFF&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>
	<%= link_to (image_tag "/images/icons/ico-google.png", :size => "61x17", :alt => "Add feed to Google", :class => 'rss-readers'), "http://fusion.google.com/add?feedurl=http://feeds.feedburner.com/serveropensourcereleasefeed", :title => 'Add feed to Google' %>
	<%= link_to (image_tag "/images/icons/ico-myy.png", :size => "84x17", :alt => "Add feed to Yahoo!", :class => 'rss-readers'), "http://add.my.yahoo.com/rss?url=http://feeds.feedburner.com/serveropensourcereleasefeed", :title => 'Add feed to Yahoo!' %>
</p>