<ul id="subnav">
	<li class="archive"><%= link_to 'ARCHIVE', { :controller => 'release', :action => 'archive' }, :title => 'View the Open Source Release Archive' %></li>
	<li class="five_questions"><%= link_to 'INTERVIEWS', { :controller => 'interview', :action => 'index' }, :title => 'View and read interviews from our five questions series' %></li>
	<li class="articles"><%= link_to 'ARTICLES', { :controller => 'article', :action => 'index' }, :title => 'Read our articles focused on open source technology in business and daily life.' %></li>
	<li class="tools"><%= link_to 'TOOLS', { :controller => 'resource', :action => 'index' }, :title => 'Read our tools resource articles focused on open source technology.' %></li>
	<li class="packageit"><%= link_to 'PACKAGEIT', { :controller => 'package', :action => 'index' }, :title => 'Download and build open source packages' %></li>
</ul>