<h1>OpenSource Release Feed Administration</h1>
<%= render :partial => 'components/notification' %>
<p>Total Number Of Active Releases: <%= @release_count %></p>
<p>Total Number Of Active Articles: <%= @article_count %></p>
<p>Total Number Of Articles In Draft: <%= @article_draft_count %></p>
<p>Total Number Of Users: <%= @user_count %></p>