<h1>Active News Items</h1>
<%= render :partial => 'components/notification' %>
<table class="cms_table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Status</th>
			<th>Approve</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<% unless @news.empty? %>
		<% @news.each do |n| %>
		<tr>
			<td><%= n.headline %></td>
			<td><%= n.status %></td>
			<td><%= link_to 'Approve', :controller => 'cms', :action => 'approve_news', :id => n.id %></td>
			<td><%= link_to 'Edit', :controller => 'cms', :action => 'edit_news', :id => n.id %></td>
			<td><%= link_to 'Delete', :controller => 'cms', :action => 'delete_news', :id => n.id %></td>
		</tr>
		<% end %>
		<% else %>
		<tr>
			<td colspan="5">
				No news items found.
			</td>
		</tr>
		<% end %>
	</tbody>
</table>