<h1>Submit A New Product Release Announcement</h1>
<%= render :partial => 'components/notification' %>
<%= error_messages_for 'release' %>
<% form_for :release, {:id => 'newrelease'} do |f| %>
	<fieldset class="shaded_fieldset">
		<legend>Your Announcement Details</legend>
		<label for="release_name">Product Name: (Required)</label><br />
		<%= f.text_field :name, :class => 'required', :size => '70' %><br />
		
		<label for="release_release_date">Release Date: (Required)</label><br />
		<%= f.text_field :release_date, :class => 'required', :size => '70' %><br />
		
		<label for="release_details">What's New/Changed: (Required)</label><br />
		<%= f.text_area :details, :size => "70x10", :minlength => '50' %><br />
		
		<label for="release_release_type">Type Of Release:</label><br />
		<% release_types = ['bug', 'point', 'security', 'new', 'alpha', 'beta'] %>
		<%= f.collection_select(:release_type, @release_types, "release_type", "release_type") %><br />
		
		<label for="release_download_url">Download URL: (Required)</label><br />
		<%= f.text_field :download_url, :class => 'required', :value => 'http://', :size => '70' %><br />
		
		<label for="release_releasenotes_url">Release Notes URL: (Required)</label><br />
		<%= f.text_field :releasenotes_url, :class => 'required', :value => 'http://', :size => '70' %><br />
		
		<label for="release_releasenotes_website">Project Website: (Optional)</label><br />
		<%= f.text_field :website, :value => 'http://', :size => '70' %><br />		
		
		<label for="release_tags">Product Tags: (Comma seperated - Required)</label><br />
		<p class="forme_longdesc">Why Tag? The tags you add here will decide whether your release will be part of only the master feed or also of a niche feed.</p>
		<%= f.text_field :tags, :size => '70', :class => 'required' %><br />
	</fieldset>
	<%= submit_tag 'submit announcement', :class => 'custom_button' %>
<% end %>